<h3  >Clientes</h3>

<div class="container mat-elevation-z2">

<mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nome}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Endereço</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.endereco}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cidade">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cidade</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cidade}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Telefone</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.telefone}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="primary" (click)="startEdit(row)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button   (click)="deleteItem(row)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">
      No results
    </div>

  <mat-paginator #paginator
                 [length]="dataSource.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>

</div>

<h2>Adicionar</h2>
<div class="container mat-elevation-z2">
<form [formGroup]="form" >
  <formly-form
    [form]="form"
    [options]="options"
    [fields]="fields"
    [model]="model">
    <button mat-button (click)="onSubmit(model)" >Salvar</button>
    <button mat-button (click)="options.resetModel()">Limpar</button>
  </formly-form>
</form>
</div>
