<div class="login">

<div  fxLayout="column" fxLayoutAlign="center center"  >

  <mat-card elevation="10" class="mat-card" fxFlex >

    <mat-card-subtitle>
          <h4>Pet Store App 1.0</h4>
     </mat-card-subtitle>

    <img mat-card-image src="/assets/images/logo1.png"  >


    <mat-card-content>

    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="mat-form-field">
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="mat-form-field">
          <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
        </mat-form-field></td>
      </tr></table>
    </form>
    <mat-spinner [style.display]="false ? 'block' : 'none'"></mat-spinner>


  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>




</mat-card-content>

</mat-card>

</div>

</div>
