    <!--
      sidenav eh a referencia para o componente sidenav
      sidenav.toggle() aberto ou fechado
    -->

<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav
    #sidenav
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
    [opened]="!(isHandset | async)!.matches">

    <mat-toolbar color="primary" class="mat-elevation-z6" style="height:56px;"  >

      <img src="./../../../assets/angular.svg" style="width: 32px;" />

      Menu</mat-toolbar>
    <mat-nav-list>

<!--         <a mat-list-item  [routerLink]="['/home/cliente']" >Cliente</a>
        <a mat-list-item  [routerLink]="['/home/catalogo']" >Catálogo</a>
        <a mat-list-item  [routerLink]="['/home/sobre']" >Sobre</a>
        <a mat-list-item  [routerLink]="['/login']" >Login</a> -->

        <a mat-list-item  (click)="sidenav.toggle()" [routerLink]="['/home/cliente']"  >Cliente</a>
        <a mat-list-item  (click)="sidenav.toggle()" [routerLink]="['/home/catalogo']" >Catálogo</a>
        <a mat-list-item  (click)="sidenav.toggle()" [routerLink]="['/home/pet']" >Pet</a>
        <a mat-list-item  (click)="sidenav.toggle()" [routerLink]="['/home/upload']" >File Upload</a>
        <a mat-list-item  (click)="sidenav.toggle()" [routerLink]="['/home/upload2']" >File Upload 2</a>
        <a mat-list-item  (click)="sidenav.toggle()" [routerLink]="['/home/sobre']" >Sobre</a>
        <a mat-list-item  (click)="logout()" >Logout</a>


    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content  >
    <mat-toolbar color="primary" class="fixed-header mat-elevation-z6" style="height:56px;" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="sidenav.toggle()"
       >
       <!-- PQ *ngIf="(isHandset | async)!.matches" -->

        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Pet Store</span>
    </mat-toolbar>

      <div class="inner-sidenav-content">
        <router-outlet></router-outlet>
      </div>


  </mat-sidenav-content>
</mat-sidenav-container>
