
<!-- <div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutGap  fxLayoutAlign="center">
 -->
 <mat-toolbar>
    <span>Catálogo</span>
 </mat-toolbar>

<div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutGap  >

    <mat-card  fxFlex="30%"  class="example-card" *ngFor="let c of [1,2,3,4,5,6,7,8,9,10]">

    <mat-card-header >
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title >Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-content >
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>

  </mat-card>



  </div>

  <!-- <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <mat-card class="card-picture" *ngFor="let picture of pictures">
        <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
          <span fxFlex="80%">{{picture.title}}</span>
          <mat-icon fxFlex="10%">mode_edit</mat-icon>
          <mat-icon fxFlex="10%">delete</mat-icon>
        </mat-card-title>
        <img mat-card-image [src]="picture.img">
      </mat-card>
    </div> -->


