<mat-toolbar color="primary" class="mat-elevation-z4" >
  <span>Erp App</span>

  <button mat-button routerLink="/home/cliente" >Clientes</button>
  <button mat-button routerLink="/home/catalogo"  >Catálogo</button>
  <button mat-button routerLink="/home/sobre"  >Sobre</button>
  <button mat-button routerLink="/login"  >Login</button>

    <span class="example-spacer"></span>
    <mat-icon class="example-icon">delete</mat-icon>

</mat-toolbar>

<mat-toolbar color="default">
    <span>{{caminho}}</span>
</mat-toolbar>

<router-outlet></router-outlet>


<!-- <div class="basic-container">
  <p>
    <button mat-button>Basic Button</button>
    <mat-slide-toggle>Slide Toggle</mat-slide-toggle>
  </p>
  <span class="version-info">Current build: {{version.full}}</span>
</div>
 -->
